<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница оперативника УФСБ</title>
</head>
<body>
    <form action="{{ url_for('city') }}" method="get">
    <button type="submit" class="btn btn-warning">База данных граждан РФ</button>
</form>
    <form action="{{ url_for('rozusk') }}" method="get">
    <button type="submit" class="btn btn-warning">Выдача розыска</button>
</form>
    <form action="{{ url_for('shtraf') }}" method="get">
    <button type="submit" class="btn btn-warning">Выдача штрафов</button>
</form>
    <form action="{{ url_for('baza_oper') }}" method="get">
    <button type="submit" class="btn btn-warning">База данных оперативников у ФСБ</button>
</form>
</body>
</html>
#ВЫДАЧА РОЗЫСКА,ВЫДАЧА ШТРАФОВ,БАЗА ДАННЫХ ОПЕРАТИВНИКОВ У ФСБ,